.popup-modal {
    position: fixed;
    max-width: 515px;
    min-width: 450px;
    bottom: 20px;
    left: 20px;
	z-index:999;
    height: 100px;
    display: flex; 
    align-items: center; 
    border-radius:5px;
    font-size: 14px;
    box-shadow: 0 0 4px 0 rgba(216, 216, 216, 0.4);
    font: 300 12px / 1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.popup-content {
    min-width: 450px;
    height: 100px;
    max-width: 450px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    position: relative;		
    align-items: center;
    background-color: #92DCB5;
    color: rgb(12, 12, 12);
    line-height: 25px;
    font-size: 14px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
    color: black;
}

.right {
    flex-grow: 1; /* Allow content to expand to fill available space */
}

.popup-image{
    width: auto;
    max-width: 100px;
    height: 100px;
    max-height: 100px;
    transform: translateZ(0);
    border: 1px solid rgb(218, 218, 218);
}

.star-icon{
    font-size: 20px;    
}
.star-icons-margin{
    margin-left: 25px;
}

.popup-content-font-size{
    font-size: 14px;    
    line-height: 1.8;
}

.popup-review{
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600 !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

.customhref{
    text-decoration: none;
    color: rgb(12, 12, 12);
}

.customhref:hover{
    /* text-decoration: none; */
    color: rgb(12, 12, 12);
}